graft configs
recursive-include data *.csv
recursive-include models *.pkl *.py
include AUTHORS.rst
include CHANGELOG.rst
include environment.yaml
include LICENSE
include MANIFEST.in
include README.md

prune logs