certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
cycler==0.10.0
decorator==4.2.1
entrypoints==0.2.3
jsonschema==2.6.0
Markdown==2.6.9
MarkupSafe==1.0
mistune==0.8.3
nbconvert==5.3.1
nbformat==4.4.0
numpy==1.13.1
opencv-python==4.1.1.26
pandas==0.20.3
pandocfilters==1.4.2
parso==0.1.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.2
pywinpty==0.5.1
pyzmq==17.0.0
qtconsole==4.3.1
scipy==1.2.0
